%h1 Welcome#index
%p
  = link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam'

%h2
  USERS
= image_tag session[:current_user][:image]
%br
= link_to session[:current_user][:nickname], session[:current_user][:steam_profile_link]
%br